@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i|Racing+Sans+One');
// font-family: 'PT Sans', sans-serif;
// font-family: 'Racing Sans One', cursive;

// sass --watch public/scss/style.scss:public/css/style.css

body, ul, h1, p{
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
}

.wraper{
    width: 85vw;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:  center;
}

a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 5px 10px;                         

} 

h1{
    font-size: 50px;
    color: white;
}

.button{
    height: 50px;
    width: 170px;
    margin: 50px;
    text-align: center;
    background: rgb(219,56,60);
    a{
        display: block;
        height: 100%;
        width: 100%;
        line-height: 50px;
        padding: 0;
    }
}

.line{
    height: 4px;
    width: 50px;
    margin: 20px;
    background: rgb(219,56,60);
}

header{
    height: 100vh;
    min-height: 600px;
    background: url(../images/bg-header1.jpg);
    background-size: cover;
    color: white;
    .wraper{
        align-items:  stretch;  
        nav{
            height:120px;
            display: flex;
            justify-content: space-between;
            align-items:  center;
            margin-bottom: 90px;
            .logo{
                display: flex;
                img{
                    height: 40px;
                    width: 60px;
                }
                &__text{
                    font-family: 'Racing Sans One';
                    font-size: 35px;
                }
            }
            .menu{
                width: 70%;
                ul{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    list-style: none;
                    a:hover{
                        background: rgb(219,56,60);  
                    }
                    a:active{
                        background: rgb(219,56,60);     
                    }
                }
            }
        }
        .text{
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 18px;
            text-shadow: 1px 1px 0px black;
            h1{
                margin-bottom: 10px;
            }
            &__button{
                border: solid white 2px;
                width: 200px;
                background: none;
                box-shadow: 0 0 10px rgba(0,0,0,0.5);
            }
        }

    }
}
.info{
    height: 85vh;
    min-height: 500px;
    background: rgb(11,64,95);
    color: white;
    .wraper{
        .containerBlocks{
            display: flex;
            justify-content: space-between;
            align-items:  center;
            .infoBlock{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items:  center;  
                height: 250px;
                margin: 20px;
                &__img{
                    height: 100px;
                    width: 100px;
                    border: rgb(37,101,133) solid 1px;
                    border-radius: 50%;
                    margin: 15px;
                    text-align: center;
                    line-height: 130px;
                }
                &__line{
                    height: 2px;
                    width: 30px;
                    background: rgb(37,101,133);
                    margin: 0 0 15px 0;
                }
            }
        }
    }
}
.bestTrips{
    height: 150vh;
    min-height: 1000px;
    background: url(../images/bg-trips1.jpg);
    background-size: cover;
    position: relative;
    &__background{
        background: white;
        position: absolute;
        left: 0; top: 0;
        width: 100%; 
        height: 100%;
        opacity: 0.7;
        z-index: 0;
    }
    .wraper{
        position: relative;
        z-index: 3; 
        h1{
            color: rgb(3,57,88);
        }   
        .bestTrips__line{
            background: rgb(3,57,88);
        }
        .bestTrips__main{
            display: grid;
            width: 100%;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 250px 250px;
            grid-gap: 30px;
            .trips{
                a{
                    display: block;
                    position: relative;
                    width: 100%; 
                    height: 100%;
                    .trips__price{
                        position: absolute;
                        left:0;
                        top:10px;
                        padding: 5px 20px;
                        background: rgb(219,56,60);
                    }
                    h2{
                        display: block;
                        position: absolute; 
                        width: 100%; 
                        text-align: center;
                        top:50%;
                        text-shadow: 1px 1px 0px black;
                    }
                }
            }
            .trips-bg1{
                background: url(../images/bg-trips1.jpg);
                background-size: cover;
            }
            .trips-bg2{
                background: url(../images/bg-trips2.jpg);
                background-size: cover;
            }
            .trips-bg3{
                background: url(../images/bg-trips3.jpg);
                background-size: cover;

            }
            .trips-bg4{
                background: url(../images/bg-trips4.jpg);
                background-size: cover;
            }
        }
        .bestTrips__button{
            width: 250px;
        }
        .bestTrips__button:hover{
            background: rgb(33,80,108);            
        }
    }
}
.bestTripsDown{
    height: 400px;
    background: rgb(11,64,95);
    .wraper{
        h3{
            color: white;
        }
        .bestTripsDown__button:hover{
            background: beige;
            a{
                color: rgb(57,58,60);
            }
    }
    }
}
.latestNews{
    background: url(../images/bg-latestNews.jpg);
    background-size: cover;
    .wraper{
        h1{
            text-shadow: 1px 1px 0px black;
            color: rgb(57,58,60);
            margin-top: 50px;
        }
        .latestNews__main{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 20px;
            .news{
                background: white;
                &__img{
                    width: 100%;
                    height: 200px;
                }
                &__img-bg1{
                    background: url(../images/bg-latestNews1.jpg);
                    background-size: cover;    
                }
                &__img-bg2{
                    background: url(../images/bg-latestNews2.jpg);
                    background-size: cover;    
                }
                &__img-bg3{
                    background: url(../images/bg-latestNews3.jpg);
                    background-size: cover;    
                }
                &__info, &__text, &__links{
                   padding: 10px; 
                }
                &__info, a{
                    color: rgb(148,148,148);
                }
                &__info{
                    display: grid;
                    grid-template-columns: 1fr 2fr;
                }
                h3{
                    color: rgb(219,56,60);
                }
                &__text{
                    color: rgb(90, 90, 90);
                }
                &__links a{
                    background: rgb(7,114,186);
                    padding: 0 5px;
                    color: white;
                }
                &__links a:hover{
                    background: rgb(219,56,60);
                }
            }
        }
        .latestNews__button:hover{
            background: rgb(33,80,108);            
        }
        .latestNews__footer{
            display: grid;
            grid-template-columns: 3fr 1fr;
            position: relative;
            height: 200px;
            .latestNews__footer-wraper{
                background-color: rgb(11,64,95);
                position: absolute;
                left: 0; top: 0;
                width: 100vw; 
                height: 100%;
                opacity: 0.8;
                z-index: 0;   
                margin-left: -10%;     
            }
            h1, .latestNews__button{
                position: relative;
                z-index: 3;
                margin: auto;
                color: white;
            }
            .latestNews__button:hover{
                background: beige;
                a{
                    color: rgb(57,58,60);
                }
            }
        }
    }
}
// background-color: rgb(148,148,148)
// background-color: rgb(57,58,60)