@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i|Racing+Sans+One');
// font-family: 'PT Sans', sans-serif;
// font-family: 'Racing Sans One', cursive;

// sass --watch public/scss/style.scss:public/css/style.css

body, ul, h1, p{
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
}

.wraper{
    width: 85vw;
    height: 100%;
    margin: 0 auto;
}

a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}                    

header{
    height: 100vh;
    min-height: 500px;
    background-image: url(../images/bg-header1.jpg);
    background-size: cover;
    color: white;
    .wraper{
        display: flex;
        flex-direction: column;
        nav{
            height:120px;
            display: flex;
            justify-content: space-between;
            align-items:  center;
            margin-bottom: 90px;
            .logo{
                display: flex;
                img{
                    height: 40px;
                    width: 60px;
                }
                &__text{
                    font-family: 'Racing Sans One';
                    font-size: 35px;
                }
            }
            .menu{
                width: 70%;
                ul{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    list-style: none;
                }
            }
        }
        .text{
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 18px;
            text-shadow: 1px 1px 0px black;
            h1{
                font-size: 60px;
                margin-bottom: 10px;
            }
            &__button{
                border: solid white 2px;
                padding: 10px 30px;
                margin-top: 50px;
            }
        }

    }
}
.info{
    height: 85vh;
    min-height: 500px;
    background-color: rgb(11,64,95);
    color: white;
    .wraper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:  center;
        h1{
            font-size: 60px;
        }
        .info__line{
            height: 4px;
            width: 50px;
            margin: 20px;
            background-color: rgb(219,56,60);
        }
        .containerBlocks{
            display: flex;
            justify-content: space-between;
            align-items:  center;
            .infoBlock{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items:  center;  
                height: 250px;
                margin: 20px;
                &__img{
                    height: 100px;
                    width: 100px;
                    border: rgb(37,101,133) solid 1px;
                    border-radius: 50%;
                    margin: 15px;
                    text-align: center;
                    line-height: 130px;
                }
                &__line{
                    height: 2px;
                    width: 30px;
                    background-color: rgb(37,101,133);
                    margin: 0 0 15px 0;
                }
            }
        }
    }
}