@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i|Racing+Sans+One");
body, ul, h1, p {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700; }

.wraper {
  width: 85vw;
  height: 100%;
  margin: 0 auto; }

a {
  color: white;
  text-decoration: none;
  font-size: 20px; }

h1 {
  font-size: 50px;
  color: white; }

.button {
  height: 50px;
  width: 170px;
  margin: 50px;
  text-align: center;
  background-color: #db383c; }
  .button a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 50px; }

.line {
  height: 4px;
  width: 50px;
  margin: 20px;
  background-color: #db383c; }

header {
  height: 100vh;
  min-height: 600px;
  background-image: url(../images/bg-header1.jpg);
  background-size: cover;
  color: white; }
  header .wraper {
    display: flex;
    flex-direction: column; }
    header .wraper nav {
      height: 120px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 90px; }
      header .wraper nav .logo {
        display: flex; }
        header .wraper nav .logo img {
          height: 40px;
          width: 60px; }
        header .wraper nav .logo__text {
          font-family: 'Racing Sans One';
          font-size: 35px; }
      header .wraper nav .menu {
        width: 70%; }
        header .wraper nav .menu ul {
          width: 100%;
          display: flex;
          justify-content: space-between;
          list-style: none; }
          header .wraper nav .menu ul a:hover {
            background-color: #db383c; }
          header .wraper nav .menu ul a:active {
            background-color: #db383c; }
    header .wraper .text {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 18px;
      text-shadow: 1px 1px 0px black; }
      header .wraper .text h1 {
        margin-bottom: 10px; }
      header .wraper .text__button {
        border: solid white 2px;
        width: 200px;
        background: none;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }

.info {
  height: 85vh;
  min-height: 500px;
  background-color: #0b405f;
  color: white; }
  .info .wraper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .info .wraper .containerBlocks {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .info .wraper .containerBlocks .infoBlock {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 250px;
        margin: 20px; }
        .info .wraper .containerBlocks .infoBlock__img {
          height: 100px;
          width: 100px;
          border: #256585 solid 1px;
          border-radius: 50%;
          margin: 15px;
          text-align: center;
          line-height: 130px; }
        .info .wraper .containerBlocks .infoBlock__line {
          height: 2px;
          width: 30px;
          background-color: #256585;
          margin: 0 0 15px 0; }

.bestTrips {
  height: 150vh;
  min-height: 1000px;
  background-image: url(../images/bg-trips1.jpg);
  background-size: cover;
  position: relative; }
  .bestTrips__background {
    background-color: white;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: 0; }
  .bestTrips .wraper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 3; }
    .bestTrips .wraper h1 {
      color: #033958; }
    .bestTrips .wraper .bestTrips__line {
      background-color: #033958; }
    .bestTrips .wraper .bestTrips__main {
      display: grid;
      width: 100%;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 250px 250px;
      grid-gap: 30px; }
      .bestTrips .wraper .bestTrips__main .trips a {
        display: block;
        position: relative;
        width: 100%;
        height: 100%; }
        .bestTrips .wraper .bestTrips__main .trips a .trips__price {
          position: absolute;
          left: 0;
          top: 10px;
          padding: 5px 20px;
          background-color: #db383c; }
        .bestTrips .wraper .bestTrips__main .trips a h2 {
          display: block;
          position: absolute;
          width: 100%;
          text-align: center;
          top: 50%;
          text-shadow: 1px 1px 0px black; }
      .bestTrips .wraper .bestTrips__main .trips__bg1 {
        background-image: url(../images/bg-trips1.jpg);
        background-size: cover; }
      .bestTrips .wraper .bestTrips__main .trips__bg2 {
        background-image: url(../images/bg-trips2.jpg);
        background-size: cover; }
      .bestTrips .wraper .bestTrips__main .trips__bg3 {
        background-image: url(../images/bg-trips3.jpg);
        background-size: cover; }
      .bestTrips .wraper .bestTrips__main .trips__bg4 {
        background-image: url(../images/bg-trips4.jpg);
        background-size: cover; }
    .bestTrips .wraper .bestTrips__button {
      width: 250px; }
    .bestTrips .wraper .bestTrips__button:hover {
      background-color: #21506c; }

.bestTripsDown {
  height: 400px;
  background-color: #0b405f; }
  .bestTripsDown .wraper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .bestTripsDown .wraper h3 {
      color: white; }

/*# sourceMappingURL=style.css.map */
